body {
    margin: 0;
    background-color: #334960 !important;
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 15%;
    background-color: #141d26;
    box-shadow: 0 2px 5px rgba(0,0,0,.25), 0 0 16px rgba(0,0,0,.22);
    border-radius: 35px;
    padding: 10px;
    display: flex;
    color: white;
}

.picture {
    display: flex;
    padding: 15px;
    width: fit-content;
    height: fit-content;
}

.picture img {
    border-radius: 20%;
    height: 75px;
}
