.container {
    margin-top: 15%;
    background-color: #141d26;
    box-shadow: 0 2px 5px rgba(0,0,0,.25), 0 0 16px rgba(0,0,0,.22);
    border-radius: 35px;
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: white;
    justify-content: space-around;
    width: 60%;
}

.sub-container {
    margin-top: 2%;
    background-color: #456281;
    box-shadow: 0 2px 5px rgba(0,0,0,.25), 0 0 16px rgba(0,0,0,.22);
    border-radius: 35px;
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

table {
    border-collapse: collapse;
    font-size: medium;
    display: flex;
    padding: 10px;
}

th {
    color: #141d26;
    border-bottom: 1px solid darkslategray;
}

td {
    color: #23313f;
    border: None;
    text-align: center;
    padding: 2px 10px;
}

td:first-child {
    border-right: solid 1px darkslategray;
}

h1 {
    margin-left: 5px;
    flex: 0 0 100%;
    color: #cccccc;
    text-align: left;
}

h3 {
    color: #cccccc;
    text-align: left;
}
