body {
    flex-direction: column;
}

.container {
    margin-top: 4%;
    margin-right: auto;
    margin-left: auto;
    background-color: #141d26;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25), 0 0 16px rgba(0, 0, 0, .22);
    border-radius: 35px;
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: white;
    justify-content: space-around;
    width: 60%;
}

.sub-container {
    margin-top: 1%;
    background-color: #456281;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25), 0 0 16px rgba(0, 0, 0, .22);
    border-radius: 35px;
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: max-content;
    margin-bottom: 1%;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: medium;
    display: flex;
    padding: 10px;
}

th {
    color: #141d26;
    border-bottom: 1px solid darkslategray;
    padding: 3px 15px;
}

td {
    color: #23313f;
    border: None;
    text-align: center;
    padding: 3px 15px;
}

td:first-child {
    border-right: solid 1px darkslategray;
}

h1 {
    margin-left: 5px;
    flex: 0 0 100%;
    color: #ccc;
    text-align: left;
}

h3 {
    color: #ccc;
    text-align: left;
}

.invisible-fullwidth {
    display: flex;
    width: available;
    width: -moz-available;
}

#center-in-invisible-div {
    margin-left: auto;
    margin-right: auto;
}
