.nav-menu {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0;
    background-color: rgba(0,0,0,0.55);
}

.nav-menu-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu-logo img {
    display: flex;
    position: absolute;
    border-radius: 20%;
    height: 65%;
    left: 50px;
    align-self: center;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
}

nav ul {
    display: inline-block;
    position: absolute;
    right: 100px;
    text-align: center;
    font-size: 1.2rem;
    width: fit-content;
    width: -moz-fit-content;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

a.nav-link:link {
   color: #99a4af;
   text-decoration: none;
}

a.nav-link:visited {
   color: #456281;
   text-decoration: none;
}

a.nav-link:hover {
   color: #456281;
   text-decoration: none;
}

nav ul li.current {
   color: #2a3c4f !important;
   text-decoration: none;
}

.container {
    margin-top: 15%;
    background-color: #141d26;
    box-shadow: 0 2px 5px rgba(0,0,0,.25), 0 0 16px rgba(0,0,0,.22);
    border-radius: 35px;
    padding: 15px;
    display: flex;
    color: white;
}

.picture {
    display: flex;
    padding: 15px;
    width: fit-content;
    width: -moz-fit-content;
    height: fit-content;
}

.picture img {
    border-radius: 20%;
    height: 100px;
}

details > summary {
    display: flex;
    padding: 15px;
    width: 500px;
    background-color: #2a3c4f;
    border: none;
    box-shadow: 0 2px 8px -4px rgba(0, 0, 0, 0.21);
    border-radius: 40px;
    margin: 15px 15px 10px 15px;
    letter-spacing: 0;
    font-weight: 650;
    cursor: pointer;
}

details > .dropped {
    display: flex;
    flex-direction: column;
    background-color: #99a4af;
    padding: 15px;
    margin: 15px 15px 10px 15px;
    box-shadow: 0 2px 8px -4px rgba(0, 0, 0, 0.21);
    border-radius: 30px;
    border: none;
    width: initial;
    height: fit-content;
}

details > .dropped input[type=submit] {
    display: flex;
    background-color: #456281;
    color: white;
    padding: 15px;
    box-shadow: 0 2px 8px -4px rgba(90, 90, 90, 0.21);
    border-radius: 40px;
    width: 100%;
    font-weight: bold;
    text-transform: capitalize;
    margin-right: 15px;
    margin-top: 15px;
    border-color: #456281;
}

details > .dropped input[type=submit]:active {
    border-color: #2a3c4f;
}

details > .dropped p {
    margin-top: 6px;
}

details > .dropped input[type=text] {
    padding: 2px 3px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 3px;
}

details > .dropped label {
    display: flex;
}

details > summary:hover {
    background-color: #456281;
}

details[open] > summary {
    background-color: #456281;
}
