<!doctype html>
<html lang="en">
<head>
    <link rel="icon" type="image/ico" href="../static/images/favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="The dashboard for flight tracker">
    <meta name="author" content="Pim">

    <link rel="stylesheet" href="../static/css/input.css">
    <title>Input page</title>
</head>
<body>
    <div class="container">
        <div class="picture">
            <img src="../static/images/Airplane.jpg" alt="Airplane">
        </div>
        <div class="drop">
            <ul>
                <li>fjlkasdfjdsklafjdklsafjdklsafjkdlsafjdslkafjdsklfjdslk</li>
                <li>fjlkasdfjdsklafjdklsafjdklsafjkdlsafjdslkafjdsklfjdslk</li>
                <li>fjlkasdfjdsklafjdklsafjdklsafjkdlsafjdslkafjdsklfjdslk</li>
                <li>fdajskl</li>
                <li>fdajsklfjlkasdfjdsklafjdklsafjdklsafjkdlsafjdslkafjdsklfjdslk</li>
                <li>fdajsklfjlkasdfjdsklafjdklsafjdklsafjkdlsafjdslkafjdsklfjdslk</li>
                <li>fdajskl</li>
                <li>fdajsklfjlkasdfjdsklafjdklsafjdklsafjkdlsafjdslkafjdsklfjdslk</li>
                <li>fdajsklfjlkasdfjdsklafjdklsafjdklsafjkdlsafjdslkafjdsklfjdslk</li>
                <li>fdajskl</li>
            </ul>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/smoothscroll.js"></script>
</body>
</html>
