<!doctype html>
<html lang="en">
<head>
    <link rel="icon" type="image/ico" href="../static/images/favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="The dashboard for flight tracker">
    <meta name="author" content="Pim">

    <link rel="stylesheet" href="../static/css/input.css">
    <title>Input page</title>
</head>
<body>
    <div class="container">
        <div class="picture">
            <img src="../static/images/Airplane.jpg" alt="Airplane">
        </div>
        <div class="drop">
            <details>
                <summary>Add Flight</summary>
                <div class="dropped">
                    <p>Add a flight.</p>
                    <form method="POST">
                        <label>
                            Enter the call sign:
                            <input type="text" id="add_flight" name="add_flight" placeholder="Call sign...">
                        </label>
                        <input type="submit" value="Add flight">
                    </form>
                </div>
            </details>
            <details>
                <summary>Edit Flight</summary>
                <div class="dropped">
                    <p>Edit a flight.</p>
                    <form method="POST">
                        <label>
                            Enter the call sign:
                            <input type="text" id="edit_flight" name="edit_flight" placeholder="Call sign...">
                        </label>
                        <input type="submit" value="Edit flight">
                    </form>
                </div>
            </details>
            <details>
                <summary>Remove Flight</summary>
                <div class="dropped">
                    <p>Remove a flight.</p>
                    <form method="POST">
                        <label>
                            Enter the call sign:
                            <input type="text" id="remove_flight" name="remove_flight" placeholder="Call sign...">
                        </label>
                        <input type="submit" value="Remove flight">
                    </form>
                </div>
            </details>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/smoothscroll.js"></script>
</body>
</html>
