<!doctype html>
<html lang="en">
<head>
    <link rel="icon" type="image/ico" href="../static/images/favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block description %}{% endblock %}
    <meta name="author" content="Pim">

    {% block imports %}{% endblock %}
    {% block title %}{% endblock %}
</head>
<body class="">
    {% block content %}{% endblock %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../static/js/smoothscroll.js"></script>
</body>
</html>
