{% extends "base.html" %}

{% block description %}
<meta name="description" content="The input page for flight tracker">
{% endblock %}

{% block imports %}
<link rel="stylesheet" href="../static/css/input.css">
{% endblock %}

{% block title %}
<title>Input page</title>
{% endblock %}

{% block content %}
<div class="nav-menu">
    <div class="nav-menu-logo">
        <img src="../static/images/Airplane.jpg" alt="">
    </div>
    <nav id="menu-nav-wrap">
        <ul class="menu-main-nav">
            <li>
                <a href="dashboard" title="Dashboard" class="nav-link">Dashboard</a>
            </li>
            <li class="current">
                <a href="input" title="Input" class="nav-link">Input</a>
            </li>
            <li>
                <a href="openskytest" title="OpenSkyTest" class="nav-link">OpenSkyTest</a>
            </li>
        </ul>
    </nav>
</div>

<div class="container">
    <div class="picture">
        <img src="../static/images/Airplane.jpg" alt="Airplane">
    </div>
    <div class="drop">
        <details>
            <summary>Add Flight</summary>
            <div class="dropped">
                <p>Add a flight.</p>
                <form method="POST" action="{{ url_for('add_flight') }}">
                    {{ add_form.csrf_token }}
                    {{ add_form.callSign }}
                    {{ add_form.submit }}
                </form>
            </div>
        </details>
        <details>
            <summary>Edit Flight</summary>
            <div class="dropped">
                <p>Edit a flight.</p>
                <form method="POST" action="{{ url_for('edit_flight') }}">
                    {{ add_form.csrf_token }}
                    {{ edit_form.callSign }}
                    {{ edit_form.submit }}
                </form>
            </div>
        </details>
        <details>
            <summary>Remove Flight</summary>
            <div class="dropped">
                <p>Remove a flight.</p>
                <form method="POST" action="{{ url_for('remove_flight') }}">
                    {{ add_form.csrf_token }}
                    {{ remove_form.callSign }}
                    {{ remove_form.submit }}
                </form>
            </div>
        </details>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../static/js/smoothscroll.js"></script>
{% endblock %}
