{% extends "base.html" %}

{% block description %}
<meta name="description" content="Login page for flight tracker">
{% endblock %}

{% block imports %}
<link rel="stylesheet" href="../static/css/login.css">
{% endblock %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Sign in</h1>
    <form method="POST" action="{{ url_for('login') }}">
        <div class="login_form">
            {{ login_form.csrf_token }}
            <label for="username">Username</label>
            {{ login_form.username }}
            <label for="password">Password</label>
            {{ login_form.password }}
        </div>
        <div class="checkbox_sep">
            <br>
            {{ login_form.remember_me }}
            <label for="remember_me">Remember me</label>
        </div>
        {{ login_form.submit }}
    </form>

</div>
{% endblock %}
