{% extends "base.html" %}

{% block description %}
<meta name="description" content="Login page for flight tracker">
{% endblock %}

{% block imports %}
<link rel="stylesheet" href="../static/css/login.css">
{% endblock %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Login</h1>
    <form method="POST" action="{{ url_for('login') }}">
        {{ login_form.csrf_token }}
        {{ login_form.username }}
        {{ login_form.password }}
        {{ login_form.submit }}
    </form>
</div>
{% endblock %}
