{% extends "base.html" %}

{% block description %}
<meta name="description" content="Interactive map for flight tracker">
{% endblock %}

{% block imports %}
<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
<link rel="stylesheet" href="../static/css/map.css">
{% endblock %}

{% block title %}
<title>Interactive map</title>
{% endblock %}

{% block content %}
<script>document.getElementById("background-wrap").innerHTML = ""</script>
<div id="map"></div>
{% endblock %}

{% block bottom_scripts %}
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
<script type="text/javascript">
var airport_data = {{ airport_data|safe }}
</script>
<script type="text/javascript" src="../static/js/config.js"></script>
<script type="text/javascript" src="../static/js/map.js"></script>
{% endblock %}
